:root
{
    --darkGray: #474554;
    --lightGray: #ACA9BB;
    --gray: #787586;
    --darkBlue: #282637;
    --white: #F2F2F2;
    --blue: #48D4CB;
    --ctaColor: #8685EF;
    --blueTransparent: rgb(72, 212, 203, .7);
    --blueMoreTransparent: rgb(72, 212, 203, .4);
    --black: #000;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

a
{
    text-decoration: none;
}

h1, h2, h3, span
{
    font-family: 'Josefin Sans', sans-serif;
}

p, ul, a
{
    font-family: 'Libre Caslon Text', serif;
}

.cta
{
    display: block;
    background-color: var(--ctaColor);
    width: 60%;
    text-align: center;
    padding: 20px 0;
    color: var(--white);
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
}

.container
{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    min-height: auto;
}

@media only screen and (min-width: 768px)
{
    .cta
    {
        font-size: 1.7rem;
        line-height: 2.3rem;
    }
}

@media only screen and (min-width: 1200px)
{

    .cta
    {
        font-size: 1.3rem;
        line-height: 2.3rem;
        width: 30%;
        padding: 10px 0;
    }

}